

* 
{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    scroll-behavior: smooth;
}
    header {
    color: white;
    text-align: center;
    background: black;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px 200px 20px 200px;
    }
 a {
    color: white;
}
b {
    color: rgb(200, 197, 10);
    font-size: 25px;
    margin-bottom: 25px;
}
h2  {
    margin-bottom: 13px;
    color: blue;
    margin-top: 40px;
    font-size: 30px;
    text-align: center;
    
}
h3  {
    margin: 20px 0px 20px 0px;
    color:rgb(10, 255, 70);

}
h4  {
    font-size: 27px;
    margin-top: 25px;
    margin-bottom: 20px;
    color: rgb(230, 140, 70);

}
div  {
    margin: 20px 200px 20px 200px; 
}

   td {
    color: purple;
   }

footer  {
    background: black;
    color: white;
    text-align:center;
    padding-top:20px;
    padding-bottom: 20px;
    margin-top: 15px;
    margin: 20px 200px 20px 200px;
    font-size: 30px;
    
}
img{
    width:100vh;
    margin-top: 30px;
    height: auto;
}



 body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}